---
import Card from './Card.astro'
---

<section id="electricidad" class="sectionProds">
  <h1 class="h1Prods">Electricidad</h1>
  <div class="sectionCards">
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
  </div>
</section>
