---
import Card from './Card.astro'
---

<section class="sectionProds">
  <h1 class="h1Prods">Herramienta</h1>
  <div class="sectionCards">
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
  </div>
</section>
