---
import { url } from '../../scripts/url'
---

<nav class="bg-stone-950 text-white py-1 flex gap-8 justify-center">
  <a href=`${url}/productos` class="aProds">Plomería</a>
  <a href=`${url}/productos/#electricidad` class="aProds">Electricidad</a>
  <a href=`${url}/productos/#herramientas` class="aProds">Herramientas</a>
</nav>
<style>
  .aProds {
    @apply hover:text-blue-400 hover:underline underline-offset-4 font-semibold text-lg;
  }
</style>
