---

---

<nav class="bg-stone-950 text-white py-1 flex gap-8 justify-center">
  <a href="#plomeria" class="aProds">Plomería</a>
  <a href="#electricidad" class="aProds">Electricidad</a>
  <a href="#herramientas" class="aProds">Herramientas</a>
</nav>
