---
import { url } from '../../scripts/url'
---

<nav class="bg-stone-950 text-white py-1 flex gap-8 justify-center">
  <a href=`${url}/productos` class="aProds">Plomería</a>
  <a href=`${url}/productos/#electricidad` class="aProds">Electricidad</a>
  <a href=`${url}/productos/#herramientas` class="aProds">Herramientas</a>
</nav>
<style>
  .aProds {
    @apply bg-gradient-to-tr hover:from-teal-600 hover:to-teal-300 from-white to-white text-transparent bg-clip-text underline-offset-4 font-semibold text-lg;
  }
</style>
