---
import Card from './Card.astro'

import rudo from '../../assets/prods/electrico/rudo.webp'
---

<section id="plomeria" class="sectionProds">
  <h1 class="h1Prods">Plomería</h1>

  <div class="sectionCards">
    <Card img={rudo} />
    <Card />
    <Card />
    <Card />
    <Card />
  </div>
</section>
