---
import Card from './Card.astro'

const yo = await Astro.glob('./plomeria/*/*.js')

console.log(yo[0].default.img)
---

<section id="plomeria" class="sectionProds">
  <h1 class="h1Prods">Plomería</h1>

  <div class="sectionCards">
    {
      yo.map((item) => (
        <Card
          img={item.default.cover}
          title={item.default.title}
          ob={item.default.ob}
          route={`/productos/${item.default.ob}`}
        />
      ))
    }
  </div>
</section>
