---
import Card from './Card.astro'

const productos = await Astro.glob('./plomeria/*/*.js')
---

<section class="sectionProds">
  <h1 class="h1Prods">Plomería</h1>

  <div class="sectionCards">
    {
      productos.map((item) => (
        <Card
          img={item.default.cover}
          title={item.default.title}
          ob={item.default.id}
          route={`/hidalgo-web-site/productos/${item.default.id}`}
        />
      ))
    }
  </div>
</section>
