---
import { Image } from 'astro:assets'
import LayoutHome from '../../layouts/LayoutHome.astro'
import Naveg from '../../components/prods/Naveg.astro'

export const getStaticPaths = async () => {
  const prods = await Astro.glob('../../components/prods/**/*.js')
  const routes = prods.map((prod) => {
    const { ob } = prod.default
    return {
      params: {
        ob,
      },
      props: {
        title: prod.default.title,
        img: prod.default.cover,
        description: prod.default.description,
      },
    }
  })

  return routes
}
const { ob } = Astro.params
const { title, img, description } = Astro.props
---

<LayoutHome>
  <Naveg />
  <main class="h-screen">
    <a href="/productos">regresar</a>
    <div class="p-10 flex">
      <div class="border w-1/2 h-full">
        <Image src={img} alt="yo" class="h-full mx-auto p-5" />
      </div>
      <div class="w-1/2 p-5">
        <h3 class="text-3xl font-semibold">
          {title ? title : 'no title'}
        </h3>
        <p>
          {description}
        </p>
      </div>
    </div>
  </main>
</LayoutHome>
