---
import Layout from '../../layouts/LayoutHome.astro'
---

<Layout>
  <main>productos</main>
  <script>
    document.addEventListener('astro:page-load', () => {
      const nav = document.querySelector('.navbar')
      const navLinks = nav.querySelectorAll('a')
      const currentURL = window.location.href
      navLinks.forEach((link) => {
        console.log(
          link.href,
          currentURL,
          link.href === currentURL,
          '############################### from prods'
        )
        if (link.href === currentURL) {
          link.classList.add('active')
        }
      })
    })
  </script>
</Layout>
