---
import Layout from '../../layouts/LayoutHome.astro'
import Naveg from '../../components/prods/Naveg.astro'
import Plomeria from '../../components/prods/Plomeria.astro'
import Electricidad from '../../components/prods/Electricidad.astro'
import Herramienta from '../../components/prods/Herramienta.astro'
---

<Layout>
  <main class="pb-32">
    <Naveg />
    <Plomeria />
    <div id="electricidad" class="h-16"></div>
    <Electricidad />
    <div id="herramientas" class="h-16"></div>
    <Herramienta />
  </main>
  <script>
    document.addEventListener('astro:page-load', () => {
      const nav = document.querySelector('.navbar')
      const navLinks = nav.querySelectorAll('a')
      const currentURL = window.location.href
      navLinks.forEach((link) => {
        if (link.href === currentURL) {
          link.classList.add('active')
        }
      })
    })
  </script>
</Layout>

<style is:global>
  .sectionProds {
    @apply w-auto h-screen mt-5 md:mx-32 mx-5;
  }
  .sectionCards {
    @apply grid grid-cols-2 md:grid-cols-5 gap-5;
  }

  .cardProds {
    @apply border border-stone-100 h-72 hover:shadow-xl transition-shadow;
  }
  .h1Prods {
    @apply text-3xl font-semibold mb-5;
  }
</style>
