---
import { url } from '../scripts/url'
---

<main
  class="h-screen w-screen flex justify-center items-center flex-col text-2xl gap-10"
>
  <p class="font-bold">404 No encontrado</p>
  <a
    href=`${url}/`
    class="bg-blue-600 py-2 px-5 text-white font-bold uppercase rounded-full"
    >Regresar al inicio</a
  >
</main>
