---
import WhatsA from '../WhatsA.jsx'
---

<div id="contactcard" class="w-full">
  <h3 class="h2 text-center pb-5">Contacto</h3>
  <section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
      <div class="pb-12 md:pb-20">
        {/* CTA box */}
        <div
          class="relative bg-stone-950 rounded py-10 px-8 md:py-16 md:px-12 shadow-2xl overflow-hidden"
          data-aos="zoom-y-out"
        >
          {/* Background illustration */}
          <div
            class="absolute right-0 bottom-0 pointer-events-none hidden lg:block"
            aria-hidden="true"
          >
            <svg width="428" height="328" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <radialGradient
                  cx="35.542%"
                  cy="34.553%"
                  fx="35.542%"
                  fy="34.553%"
                  r="96.031%"
                  id="ni-a"
                >
                  <stop stop-color="#DFDFDF" offset="0%"></stop>
                  <stop stop-color="#4C4C4C" offset="44.317%"></stop>
                  <stop stop-color="#333" offset="100%"></stop>
                </radialGradient>
              </defs>
              <g fill="none" fill-rule="evenodd">
                <g fill="#FFF">
                  <ellipse
                    fill-opacity=".04"
                    cx="185"
                    cy="15.576"
                    rx="16"
                    ry="15.576"></ellipse>
                  <ellipse
                    fill-opacity=".24"
                    cx="100"
                    cy="68.402"
                    rx="24"
                    ry="23.364"></ellipse>
                  <ellipse
                    fill-opacity=".12"
                    cx="29"
                    cy="251.231"
                    rx="29"
                    ry="28.231"></ellipse>
                  <ellipse
                    fill-opacity=".64"
                    cx="29"
                    cy="251.231"
                    rx="8"
                    ry="7.788"></ellipse>
                  <ellipse
                    fill-opacity=".12"
                    cx="342"
                    cy="31.303"
                    rx="8"
                    ry="7.788"></ellipse>
                  <ellipse
                    fill-opacity=".48"
                    cx="62"
                    cy="126.811"
                    rx="2"
                    ry="1.947"></ellipse>
                  <ellipse
                    fill-opacity=".12"
                    cx="78"
                    cy="7.072"
                    rx="2"
                    ry="1.947"></ellipse>
                  <ellipse
                    fill-opacity=".64"
                    cx="185"
                    cy="15.576"
                    rx="6"
                    ry="5.841"></ellipse>
                </g>
                <circle fill="url(#ni-a)" cx="276" cy="237" r="200"></circle>
              </g>
            </svg>
          </div>

          <div
            class="relative flex flex-col lg:flex-row justify-between items-center"
          >
            {/* CTA content */}
            <div class="text-center lg:text-left lg:max-w-xl">
              <h3 class="h3 text-white mb-2">Eléctrica y Plomería Hidalgo</h3>
              <p class="text-stone-300 text-lg mb-6">
                Contáctanos para obtener soluciones expertas y productos de
                calidad para tus proyectos.
              </p>

              <ul class="text-stone-300 flex flex-col gap-3 text-xl text-left">
                <!-- phone  -->
                <li class="hover:underline">
                  <a
                    href="tel:+527353531683"
                    class="flex items-center"
                    aria-label="telephone"
                  >
                    <div class="mr-5">
                      <svg
                        class="icon icon-tabler icon-tabler-phone"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path
                          d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
                        ></path></svg
                      >
                    </div>
                    <ul>
                      <li>735 353 1683</li>
                      <li>
                        Ext.
                        <b>101 a la 104</b>
                      </li>
                    </ul>
                  </a>
                </li>
                <!-- whatsapp -->
                <li class="hover:underline">
                  <WhatsA client:load className="bg-transparent flex ">
                    <div class="inline-block mr-5">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-brand-whatsapp"
                        width="30"
                        height="30"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path>
                        <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"
                        ></path>
                        <path
                          d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
                        ></path>
                      </svg>
                    </div>
                    <p>735 128 0629</p>
                  </WhatsA>
                </li>
                <!-- facebook -->
                <li class="hover:underline">
                  <a
                    href="https://www.facebook.com/profile.php?id=100063556434788"
                    aria-label="Facebook"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <div class="mr-5 inline-block">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-brand-facebook-filled"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path
                          d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z"
                          stroke-width="0"
                          fill="currentColor"></path></svg
                      >
                    </div>
                    {`Eléctrica y Plomería "Hidalgo"`}
                  </a>
                </li>

                <!-- email -->
                <li class="hover:underline">
                  <a
                    class="inline-flex items-center"
                    href="mailto:ventas@electricayplomeriahidalgo.com"
                    aria-label="mail"
                  >
                    <div class="md:inline-block mr-5 hidden md:visible">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-mail"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path
                          d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
                        ></path><path d="M3 7l9 6l9 -6"></path></svg
                      >
                    </div>
                    <p class="text-base">
                      ventas@electricayplomeriahidalgo.com
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
