---
const opciones = [
  { text: 'Inicio', href: '/' },
  { text: 'Productos', href: '/productos' },
  { text: 'Quienes somos', href: '/nosotros' },
]
---

<nav
  class="md:flex hidden justify-center items-center gap-3 px-5 font-medium text-stone-500 navbar"
>
  {
    opciones.map((op) => (
      <a
        class="hover:text-stone-800 hover:underline hover:underline-offset-4"
        href={op.href}
      >
        {op.text}
      </a>
    ))
  }
</nav>

<style is:global>
  .active {
    text-decoration: underline;
    text-decoration-color: #3d83da;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
  }
</style>
