---
import { ViewTransitions } from 'astro:transitions'
import '@fontsource-variable/inter'
const { title } = Astro.props
import Header from '../components/Header.astro'
import WhatsappButton from '../components/WhatsA'
import Footer from '../components/home/Footer.astro'
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="font-inter min-h-screen relative">
    <Header />
    <WhatsappButton
      client:load
      className="flex justify-center items-center text-white text-4xl p-3 bg-[#25D366] hover:bg-white-100 rounded-full shadow duration-150 ease-in-out h-14 w-14 right-5 fixed bottom-20 z-50 hover:shadow-xl active:scale-90 transition-transform"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-brand-whatsapp"
        width="30"
        height="30"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
        <path
          d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
        ></path>
      </svg>
    </WhatsappButton>

    <div class="">
      <slot />
    </div>
    <Footer />
    <style is:global>
      .btn {
        @apply px-10 py-3;
      }

      .h1 {
        @apply text-4xl font-extrabold leading-tight tracking-tighter;
      }

      .h2 {
        @apply text-3xl font-extrabold leading-tight tracking-tighter;
      }

      .h3 {
        @apply text-3xl font-bold leading-tight;
      }

      .h4 {
        @apply text-2xl font-bold leading-snug tracking-tight;
      }
    </style>
  </body>
</html>
